In [9]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [18]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [11]:
player_count = len(purchase_data["SN"].unique())
player_count_db = pd.DataFrame({"total":[player_count]})

In [12]:
player_count_db

   total
0    576

In [26]:
numberunique = len(purchase_data["Item Name"].unique())
avprice = "${:,.2f}".format(purchase_data["Price"].mean())
countpur = purchase_data["Purchase ID"].count()
totalrev = "${:,.2f}".format(purchase_data["Price"].sum())
summary_db = pd.DataFrame({"Number of Unique Items":[numberunique],"Average Price":[avprice],"Number of Purchases":[countpur],"Total Revenue":[totalrev]})
summary_db

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77