In [2]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
player_count = len(purchase_data["SN"].unique())
player_count_db = pd.DataFrame({"total":[player_count]})

In [5]:
player_count_db

   total
0    576

In [6]:
#Purchasing Analysis Total

In [7]:
numberunique = len(purchase_data["Item Name"].unique())
avprice = "${:,.2f}".format(purchase_data["Price"].mean())
countpur = purchase_data["Purchase ID"].count()
totalrev = "${:,.2f}".format(purchase_data["Price"].sum())
summary_db = pd.DataFrame({"Number of Unique Items":[numberunique],"Average Price":[avprice],"Number of Purchases":[countpur],"Total Revenue":[totalrev]})
summary_db

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
#Gender Demographics
#Total of Players
#Number of Males
#Number of Females
#Number of Unknown

purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [9]:
#Find and Store Totals
totalgen = player_count
totalmales = purchase_data.loc[purchase_data["Gender"] == "Male", :]
pd.DataFrame(totalmales)
malesunique = len(totalmales["SN"].unique())
totalfemales = purchase_data.loc[purchase_data["Gender"] == "Female", :]
pd.DataFrame(totalfemales)
femalesunique = len(totalfemales["SN"].unique())
totalother = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
pd.DataFrame(totalother)
otherunique = len(totalother["SN"].unique())
malepercent = "{:,.2f}%".format(malesunique / totalgen*100)
femalepercent = "{:,.2f}%".format(femalesunique / totalgen*100)
otherpercent = "{:,.2f}%".format(otherunique / totalgen*100)
listofgen = ["Male","Female","Other"]
listofgen
gendersum_db = pd.DataFrame({"": ["Male","Female","Other / Non-Disclosed"],
                             "Total Count":[malesunique, femalesunique, otherunique],
                             "Percentage of Players":[malepercent, femalepercent, otherpercent]})

In [10]:
gendersum_db.set_index("")

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [11]:
#group by Gender
groupedgen = purchase_data.groupby(["Gender"])

In [12]:
#Calculate purchase count by Gender
malespcount = len(totalmales["Purchase ID"].unique())
femalespcount = len(totalfemales["Purchase ID"].unique())
otherpcount = len(totalother["Purchase ID"].unique())
#Calculate Avergae Purchase Price by Gender
malesavprice = "${:,.2f}".format(totalmales["Price"].mean())
femalesavprice = "${:,.2f}".format(totalfemales["Price"].mean())
otheravprice = "${:,.2f}".format(totalother["Price"].mean())
#Calculate Total Purchase Value by Gender
malestotalpur = "${:,.2f}".format(totalmales["Price"].sum())
malestotalpurfl = totalmales["Price"].sum()
femalestotalpur = "${:,.2f}".format(totalfemales["Price"].sum())
femalestotalpurfl = totalfemales["Price"].sum()
othertotalpur = "${:,.2f}".format(totalother["Price"].sum())
othertotalpurfl = totalother["Price"].sum()
#Calculate Av per Person by Gender
avtotalmales =  "${:,.2f}".format((malestotalpurfl/malesunique))
avtotalfemales =  "${:,.2f}".format((femalestotalpurfl/femalesunique))
avtotalother =  "${:,.2f}".format((othertotalpurfl/otherunique))
avtotalother

'$4.56'

In [16]:
#Create Summary Frame
puranalysisgen_db = pd.DataFrame({"Gender": ["Female","Male","Other / Non-Disclosed"],
                                  "Purchase Count":[femalespcount, malespcount, otherpcount],
                                  "Average Purchase Price":[femalesavprice, malesavprice, otheravprice],
                                  "Total Purchase Value":[femalestotalpur, malestotalpur, othertotalpur],
                                  "Avg Total Purchase per Person":[avtotalfemales, avtotalmales, avtotalother]})
puranalysisgen_db.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [71]:
#Age Demographics
#Establish Bins
bins = [0,9,14,19,24,29,34,39,100]
groupnames = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [72]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Range"]=pd.cut(purchase_data["Age"], bins, labels=groupnames, include_lowest=True)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [92]:
agecount1 = purchase_data.loc[purchase_data["Age Range"] == "<10", :]
totalagecount1 = len(agecount1["SN"].unique())
agecount2 = purchase_data.loc[purchase_data["Age Range"] == "10-14", :]
totalagecount2 = len(agecount2["SN"].unique())
agecount3 = purchase_data.loc[purchase_data["Age Range"] == "15-19", :]
totalagecount3 = len(agecount3["SN"].unique())
agecount4 = purchase_data.loc[purchase_data["Age Range"] == "20-24", :]
totalagecount4 = len(agecount4["SN"].unique())
agecount5 = purchase_data.loc[purchase_data["Age Range"] == "25-29", :]
totalagecount5 = len(agecount5["SN"].unique())
agecount6 = purchase_data.loc[purchase_data["Age Range"] == "30-34", :]
totalagecount6 = len(agecount6["SN"].unique())
agecount7 = purchase_data.loc[purchase_data["Age Range"] == "35-39", :]
totalagecount7 = len(agecount7["SN"].unique())
agecount8 = purchase_data.loc[purchase_data["Age Range"] == "40+", :]
totalagecount8 = len(agecount8["SN"].unique())
totalcountage = totalagecount1+totalagecount2+totalagecount3+totalagecount4+totalagecount5+totalagecount6+totalagecount7+totalagecount8
totalageper1 = "{:,.2f}%".format(totalagecount1/totalcountage*100)
totalageper2 = "{:,.2f}%".format(totalagecount2/totalcountage*100)
totalageper3 = "{:,.2f}%".format(totalagecount3/totalcountage*100)
totalageper4 = "{:,.2f}%".format(totalagecount4/totalcountage*100)
totalageper5 = "{:,.2f}%".format(totalagecount5/totalcountage*100)
totalageper6 = "{:,.2f}%".format(totalagecount6/totalcountage*100)
totalageper7 = "{:,.2f}%".format(totalagecount7/totalcountage*100)
totalageper8 = "{:,.2f}%".format(totalagecount8/totalcountage*100)

In [100]:
agedb = pd.DataFrame({"": groupnames,
                      "Total Count": [totalagecount1,totalagecount2,totalagecount3,totalagecount4,totalagecount5,totalagecount6,totalagecount7,totalagecount8],
                      "Percentage of Players": [totalageper1,totalageper2,totalageper3,totalageper4,totalageper5,totalageper6,totalageper7,totalageper8]})
agedb.set_index("")

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [54]:
age1count = purchase_data["Age Range"].unique())
age1count

KeyError: '<10'

,Bug\nID,Product,Component,Assignee,Status,Resolution,Summary,Changed,Assignee\nReal\nName,Classification,...,Number of\nComments,Opened,OS,Priority,Reporter,Reporter\nReal\nName,Severity,Target\nMilestone,Version,Votes
0,3638,JDT,UI,aeschli,VERIFIED,FIXED,Package Viewer: order resource folders before ...,1/17/2002 7:28,Martin Aeschlimann,Eclipse,...,3,10/10/2001 22:58,Windows NT,P1,aeschli,Martin Aeschlimann,major,---,2,0
1,3854,JDT,UI,aeschli,VERIFIED,FIXED,Wrong execution's classpath. (1GEY0W0),1/18/2002 4:02,Martin Aeschlimann,Eclipse,...,5,10/10/2001 23:01,Windows NT,P1,david_audel,David Audel,normal,---,2,0
2,4188,JDT,UI,aeschli,VERIFIED,FIXED,type hierachy - typo (1GJW2XJ),1/28/2002 3:12,Martin Aeschlimann,Eclipse,...,3,10/10/2001 23:07,Windows 2000,P1,erich_gamma,Erich Gamma,normal,---,2,0
3,5115,JDT,Debug,aeschli,VERIFIED,FIXED,Workspace source locator fails with mulitple p...,11/13/2001 10:11,Martin Aeschlimann,Eclipse,...,10,10/19/2001 13:41,Windows 2000,P1,darin.eclipse,Darin Wright,normal,---,2,0
4,5820,JDT,UI,aeschli,VERIFIED,FIXED,Close all editors brings up hierarchy of object,11/20/2001 16:22,Martin Aeschlimann,Eclipse,...,5,11/12/2001 18:18,Windows 2000,P1,jed.anderson,Jed Anderson,normal,---,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,70864,Platform,Debug,darin.eclipse,VERIFIED,FIXED,API method to show the console view has a bug.,8/20/2004 14:42,Darin Wright,Eclipse,...,4,7/26/2004 18:11,Windows XP,P3,bagrodia,Saurabh Bagrodia,minor,3.1,3,0
9996,70955,JDT,Debug,darin.eclipse,VERIFIED,FIXED,Empty string as a program argument not accepted.,10/29/2004 10:27,Darin Wright,Eclipse,...,10,7/28/2004 3:29,Windows NT,P3,paul.smith,Paul Smith,minor,3.1 M3,3,0
9997,71149,Platform,Debug,darin.eclipse,VERIFIED,FIXED,[artwork] When breakpoints are disabled (skipp...,1/14/2005 17:06,Darin Wright,Eclipse,...,17,7/30/2004 7:59,Windows XP,P3,acuretra,Thorbjørn Ravn Andersen,enhancement,3.1 M5,3,0
9998,71292,Platform,Debug,darin.eclipse,VERIFIED,FIXED,Launch name is truncated in MRU list,8/20/2004 15:00,Darin Wright,Eclipse,...,7,8/3/2004 11:11,Windows XP,P3,dj.houghton,DJ Houghton,normal,3.1 M2,3,0
9999,71296,Platform,Ant,darin.eclipse,VERIFIED,FIXED,Ant editor performance tests: opening / typing,10/15/2004 9:30,Darin Wright,Eclipse,...,5,8/3/2004 11:41,Windows XP,P3,Darin_Swanson,Darin Swanson,normal,3.1 M2,3,0