In [2]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
player_count = len(purchase_data["SN"].unique())
player_count_db = pd.DataFrame({"total":[player_count]})

In [5]:
player_count_db

   total
0    576

In [6]:
#Purchasing Analysis Total

In [7]:
numberunique = len(purchase_data["Item Name"].unique())
avprice = "${:,.2f}".format(purchase_data["Price"].mean())
countpur = purchase_data["Purchase ID"].count()
totalrev = "${:,.2f}".format(purchase_data["Price"].sum())
summary_db = pd.DataFrame({"Number of Unique Items":[numberunique],"Average Price":[avprice],"Number of Purchases":[countpur],"Total Revenue":[totalrev]})
summary_db

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
#Gender Demographics
#Total of Players
#Number of Males
#Number of Females
#Number of Unknown

purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [9]:
#Find and Store Totals
totalgen = player_count
totalmales = purchase_data.loc[purchase_data["Gender"] == "Male", :]
pd.DataFrame(totalmales)
malesunique = len(totalmales["SN"].unique())
totalfemales = purchase_data.loc[purchase_data["Gender"] == "Female", :]
pd.DataFrame(totalfemales)
femalesunique = len(totalfemales["SN"].unique())
totalother = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
pd.DataFrame(totalother)
otherunique = len(totalother["SN"].unique())
malepercent = "{:,.2f}%".format(malesunique / totalgen*100)
femalepercent = "{:,.2f}%".format(femalesunique / totalgen*100)
otherpercent = "{:,.2f}%".format(otherunique / totalgen*100)
listofgen = ["Male","Female","Other"]
listofgen
gendersum_db = pd.DataFrame({"": ["Male","Female","Other / Non-Disclosed"],
                             "Total Count":[malesunique, femalesunique, otherunique],
                             "Percentage of Players":[malepercent, femalepercent, otherpercent]})

In [10]:
gendersum_db.set_index("")

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [11]:
#group by Gender
groupedgen = purchase_data.groupby(["Gender"])

In [12]:
#Calculate purchase count by Gender
malespcount = len(totalmales["Purchase ID"].unique())
femalespcount = len(totalfemales["Purchase ID"].unique())
otherpcount = len(totalother["Purchase ID"].unique())
#Calculate Avergae Purchase Price by Gender
malesavprice = "${:,.2f}".format(totalmales["Price"].mean())
femalesavprice = "${:,.2f}".format(totalfemales["Price"].mean())
otheravprice = "${:,.2f}".format(totalother["Price"].mean())
#Calculate Total Purchase Value by Gender
malestotalpur = "${:,.2f}".format(totalmales["Price"].sum())
malestotalpurfl = totalmales["Price"].sum()
femalestotalpur = "${:,.2f}".format(totalfemales["Price"].sum())
femalestotalpurfl = totalfemales["Price"].sum()
othertotalpur = "${:,.2f}".format(totalother["Price"].sum())
othertotalpurfl = totalother["Price"].sum()
#Calculate Av per Person by Gender
avtotalmales =  "${:,.2f}".format((malestotalpurfl/malesunique))
avtotalfemales =  "${:,.2f}".format((femalestotalpurfl/femalesunique))
avtotalother =  "${:,.2f}".format((othertotalpurfl/otherunique))
avtotalother

'$4.56'

In [16]:
#Create Summary Frame
puranalysisgen_db = pd.DataFrame({"Gender": ["Female","Male","Other / Non-Disclosed"],
                                  "Purchase Count":[femalespcount, malespcount, otherpcount],
                                  "Average Purchase Price":[femalesavprice, malesavprice, otheravprice],
                                  "Total Purchase Value":[femalestotalpur, malestotalpur, othertotalpur],
                                  "Avg Total Purchase per Person":[avtotalfemales, avtotalmales, avtotalother]})
puranalysisgen_db.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [71]:
#Age Demographics
#Establish Bins
bins = [0,9,14,19,24,29,34,39,100]
groupnames = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [72]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Range"]=pd.cut(purchase_data["Age"], bins, labels=groupnames, include_lowest=True)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [92]:
agecount1 = purchase_data.loc[purchase_data["Age Range"] == "<10", :]
totalagecount1 = len(agecount1["SN"].unique())
agecount2 = purchase_data.loc[purchase_data["Age Range"] == "10-14", :]
totalagecount2 = len(agecount2["SN"].unique())
agecount3 = purchase_data.loc[purchase_data["Age Range"] == "15-19", :]
totalagecount3 = len(agecount3["SN"].unique())
agecount4 = purchase_data.loc[purchase_data["Age Range"] == "20-24", :]
totalagecount4 = len(agecount4["SN"].unique())
agecount5 = purchase_data.loc[purchase_data["Age Range"] == "25-29", :]
totalagecount5 = len(agecount5["SN"].unique())
agecount6 = purchase_data.loc[purchase_data["Age Range"] == "30-34", :]
totalagecount6 = len(agecount6["SN"].unique())
agecount7 = purchase_data.loc[purchase_data["Age Range"] == "35-39", :]
totalagecount7 = len(agecount7["SN"].unique())
agecount8 = purchase_data.loc[purchase_data["Age Range"] == "40+", :]
totalagecount8 = len(agecount8["SN"].unique())
totalcountage = totalagecount1+totalagecount2+totalagecount3+totalagecount4+totalagecount5+totalagecount6+totalagecount7+totalagecount8
totalageper1 = "{:,.2f}%".format(totalagecount1/totalcountage*100)
totalageper2 = "{:,.2f}%".format(totalagecount2/totalcountage*100)
totalageper3 = "{:,.2f}%".format(totalagecount3/totalcountage*100)
totalageper4 = "{:,.2f}%".format(totalagecount4/totalcountage*100)
totalageper5 = "{:,.2f}%".format(totalagecount5/totalcountage*100)
totalageper6 = "{:,.2f}%".format(totalagecount6/totalcountage*100)
totalageper7 = "{:,.2f}%".format(totalagecount7/totalcountage*100)
totalageper8 = "{:,.2f}%".format(totalagecount8/totalcountage*100)

In [100]:
agedb = pd.DataFrame({"": groupnames,
                      "Total Count": [totalagecount1,totalagecount2,totalagecount3,totalagecount4,totalagecount5,totalagecount6,totalagecount7,totalagecount8],
                      "Percentage of Players": [totalageper1,totalageper2,totalageper3,totalageper4,totalageper5,totalageper6,totalageper7,totalageper8]})
agedb.set_index("")

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [127]:
purchase_data["Age Range"]=pd.cut(purchase_data["Age"], bins, labels=groupnames, include_lowest=True)
#Purchase Count
agecount1 = purchase_data.loc[purchase_data["Age Range"] == "<10", :]
totalagepurcount1 = len(agecount1["Purchase ID"].unique())
agecount2 = purchase_data.loc[purchase_data["Age Range"] == "10-14", :]
totalagepurcount2 = len(agecount2["Purchase ID"].unique())
agecount3 = purchase_data.loc[purchase_data["Age Range"] == "15-19", :]
totalagepurcount3 = len(agecount3["Purchase ID"].unique())
agecount4 = purchase_data.loc[purchase_data["Age Range"] == "20-24", :]
totalagepurcount4 = len(agecount4["Purchase ID"].unique())
agecount5 = purchase_data.loc[purchase_data["Age Range"] == "25-29", :]
totalagepurcount5 = len(agecount5["Purchase ID"].unique())
agecount6 = purchase_data.loc[purchase_data["Age Range"] == "30-34", :]
totalagepurcount6 = len(agecount6["Purchase ID"].unique())
agecount7 = purchase_data.loc[purchase_data["Age Range"] == "35-39", :]
totalagepurcount7 = len(agecount7["Purchase ID"].unique())
agecount8 = purchase_data.loc[purchase_data["Age Range"] == "40+", :]
totalagepurcount8 = len(agecount8["Purchase ID"].unique())
#Total Purchase Values
purval1 = purchase_data.loc[purchase_data["Age Range"] == "<10", :]
totpurval1fl = agecount1["Price"].sum()
totpurval1 = "${:,.2f}".format(agecount1["Price"].sum())
purval2 = purchase_data.loc[purchase_data["Age Range"] == "10-14", :]
totpurval2fl = agecount2["Price"].sum()
totpurval2 = "${:,.2f}".format(agecount2["Price"].sum())
purval3 = purchase_data.loc[purchase_data["Age Range"] == "15-19", :]
totpurval3fl = agecount3["Price"].sum()
totpurval3 = "${:,.2f}".format(agecount3["Price"].sum())
purval4 = purchase_data.loc[purchase_data["Age Range"] == "20-24", :]
totpurval4fl = agecount4["Price"].sum()
totpurval4 = "${:,.2f}".format(agecount4["Price"].sum())
purval5 = purchase_data.loc[purchase_data["Age Range"] == "25-29", :]
totpurval5fl = agecount5["Price"].sum()
totpurval5 = "${:,.2f}".format(agecount5["Price"].sum())
purval6 = purchase_data.loc[purchase_data["Age Range"] == "30-34", :]
totpurval6fl = agecount6["Price"].sum()
totpurval6 = "${:,.2f}".format(agecount6["Price"].sum())
purval7 = purchase_data.loc[purchase_data["Age Range"] == "35-39", :]
totpurval7fl = agecount7["Price"].sum()
totpurval7 = "${:,.2f}".format(agecount7["Price"].sum())
purval8 = purchase_data.loc[purchase_data["Age Range"] == "40+", :]
totpurval8fl = agecount8["Price"].sum()
totpurval8 = "${:,.2f}".format(agecount8["Price"].sum())
#Average Purchase Price
avpur1 = "${:,.2f}".format(totpurval1fl / totalagepurcount1)
avpur2 = "${:,.2f}".format(totpurval2fl / totalagepurcount2)
avpur3 = "${:,.2f}".format(totpurval3fl / totalagepurcount3)
avpur4 = "${:,.2f}".format(totpurval4fl / totalagepurcount4)
avpur5 = "${:,.2f}".format(totpurval5fl / totalagepurcount5)
avpur6 = "${:,.2f}".format(totpurval6fl / totalagepurcount6)
avpur7 = "${:,.2f}".format(totpurval7fl / totalagepurcount7)
avpur8 = "${:,.2f}".format(totpurval8fl / totalagepurcount8)
#Average Total Purchase Per Person
avper1 = "${:,.2f}".format(totpurval1fl / totalagecount1)
avper2 = "${:,.2f}".format(totpurval2fl / totalagecount2)
avper3 = "${:,.2f}".format(totpurval3fl / totalagecount3)
avper4 = "${:,.2f}".format(totpurval4fl / totalagecount4)
avper5 = "${:,.2f}".format(totpurval5fl / totalagecount5)
avper6 = "${:,.2f}".format(totpurval6fl / totalagecount6)
avper7 = "${:,.2f}".format(totpurval7fl / totalagecount7)
avper8 = "${:,.2f}".format(totpurval8fl / totalagecount8)

In [128]:
Purchasing_Analysis_age_db = pd.DataFrame({"": groupnames,
                      "Total Count": [totalagepurcount1,totalagepurcount2,totalagepurcount3,totalagepurcount4,totalagepurcount5,totalagepurcount6,totalagepurcount7,totalagepurcount8],
                      "Average Purchase Price": [avpur1,avpur2,avpur3,avpur4,avpur5,avpur6,avpur7,avpur8],                    
                      "Total Purchase Value": [totpurval1,totpurval2,totpurval3,totpurval4,totpurval5,totpurval6,totpurval7,totpurval8],
                      "Avg Total Purchase per Person": [avper1,avper2,avper3,avper4,avper5,avper6,avper7,avper8]})

Purchasing_Analysis_age_db

,,Total Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,"$1,114.06",$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,40+,13,$2.94,$38.24,$3.19