In [2]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
player_count = len(purchase_data["SN"].unique())
player_count_db = pd.DataFrame({"total":[player_count]})

In [5]:
player_count_db

   total
0    576

In [6]:
#Purchasing Analysis Total

In [7]:
numberunique = len(purchase_data["Item Name"].unique())
avprice = "${:,.2f}".format(purchase_data["Price"].mean())
countpur = purchase_data["Purchase ID"].count()
totalrev = "${:,.2f}".format(purchase_data["Price"].sum())
summary_db = pd.DataFrame({"Number of Unique Items":[numberunique],"Average Price":[avprice],"Number of Purchases":[countpur],"Total Revenue":[totalrev]})
summary_db

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
#Gender Demographics
#Total of Players
#Number of Males
#Number of Females
#Number of Unknown

purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [9]:
#Find and Store Totals
totalgen = player_count
totalmales = purchase_data.loc[purchase_data["Gender"] == "Male", :]
pd.DataFrame(totalmales)
malesunique = len(totalmales["SN"].unique())
totalfemales = purchase_data.loc[purchase_data["Gender"] == "Female", :]
pd.DataFrame(totalfemales)
femalesunique = len(totalfemales["SN"].unique())
totalother = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
pd.DataFrame(totalother)
otherunique = len(totalother["SN"].unique())
malepercent = "{:,.2f}%".format(malesunique / totalgen*100)
femalepercent = "{:,.2f}%".format(femalesunique / totalgen*100)
otherpercent = "{:,.2f}%".format(otherunique / totalgen*100)
listofgen = ["Male","Female","Other"]
listofgen
gendersum_db = pd.DataFrame({"": ["Male","Female","Other / Non-Disclosed"],
                             "Total Count":[malesunique, femalesunique, otherunique],
                             "Percentage of Players":[malepercent, femalepercent, otherpercent]})

In [10]:
gendersum_db.set_index("")

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [11]:
#group by Gender
groupedgen = purchase_data.groupby(["Gender"])

In [12]:
#Calculate purchase count by Gender
malespcount = len(totalmales["Purchase ID"].unique())
femalespcount = len(totalfemales["Purchase ID"].unique())
otherpcount = len(totalother["Purchase ID"].unique())
#Calculate Avergae Purchase Price by Gender
malesavprice = "${:,.2f}".format(totalmales["Price"].mean())
femalesavprice = "${:,.2f}".format(totalfemales["Price"].mean())
otheravprice = "${:,.2f}".format(totalother["Price"].mean())
#Calculate Total Purchase Value by Gender
malestotalpur = "${:,.2f}".format(totalmales["Price"].sum())
malestotalpurfl = totalmales["Price"].sum()
femalestotalpur = "${:,.2f}".format(totalfemales["Price"].sum())
femalestotalpurfl = totalfemales["Price"].sum()
othertotalpur = "${:,.2f}".format(totalother["Price"].sum())
othertotalpurfl = totalother["Price"].sum()
#Calculate Av per Person by Gender
avtotalmales =  "${:,.2f}".format((malestotalpurfl/malesunique))
avtotalfemales =  "${:,.2f}".format((femalestotalpurfl/femalesunique))
avtotalother =  "${:,.2f}".format((othertotalpurfl/otherunique))
avtotalother

'$4.56'

In [16]:
#Create Summary Frame
puranalysisgen_db = pd.DataFrame({"Gender": ["Female","Male","Other / Non-Disclosed"],
                                  "Purchase Count":[femalespcount, malespcount, otherpcount],
                                  "Average Purchase Price":[femalesavprice, malesavprice, otheravprice],
                                  "Total Purchase Value":[femalestotalpur, malestotalpur, othertotalpur],
                                  "Avg Total Purchase per Person":[avtotalfemales, avtotalmales, avtotalother]})
puranalysisgen_db.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56